body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #444;
}

#market-overview, #portfolio, #actions {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#crypto-list, #portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.crypto-item, .portfolio-item {
    flex: 1 1 calc(33.333% - 10px);
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"], form input[type="password"], form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.content-section {
    display: none; /* Hide all sections initially */
}

/* Button styling for navigation links */
nav ul li a {
    cursor: pointer;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none
